*{
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
  padding: 0px;
}

body{

}
.barra{
  position: fixed;
  z-index: 3;
  width: 100%;
  height: 65px;
  padding-left: 700px;
  border: 1px solid black;
}
.barra li{
  margin-top: 5px;
  display: inline-block;
  padding: 15px;
  list-style: none;/*para quitar el simbolo de lista*/
}
 ul{
  width: 250px;
  color: whitesmoke;
}

 ul li{
  margin-top: 5px;
  padding: 15px;
  list-style: none;
}
a{
  color: whitesmoke;
  text-decoration: none;/*se quita la linea de subrayado*/
  padding: 10px;
}
a:hover{
  color: deepPink;
}

#logo{
  width: 60px;
  left:50px;
  top:10px;
  display: inline-block;
  position: absolute;
}
video{
  width: 100%;
  top: -100px;
  position: absolute;
}
.logoGif{
  height: 500px;
  width: 100%;
  position: relative;
}
.formulario{
  padding: 45px;
  height: 430px;
  width: 420px;
  position: absolute;
  right: 0;
  top: 70px;
  display:inline-block;
  background-color: white;
}
h1{
  color: #51007a;
  font-size: 55px;
}
input{
  border: 0;
  padding: 0;
  background-color: transparent;
  color: #51007a;
  width: 100%;
  border-bottom: 1px solid #51007a;
  display: inline-block;
  margin-bottom: 20px;
}
#ocultar{
  display: none;
}
#subtitulo{
  margin-bottom: 25px;
  color: #51007a;
  display: inline-block;
}
.buttons input{
  background-color: #ea00b6;
  border-radius: 5px;
  width: 130px;
  height: 40px;
  color: white;
  border: 0px;
}
.buttons{
  margin-top: 30px;
}
#sinBorde{
  background-color:transparent;
  width: 130px;
  height: 40px;
  color: #a4a4a4;
  text-decoration: underline;
}

.telefono{
  position: relative;
  height: 450px;
  width: 100%;
  background: linear-gradient(to bottom, rgba(119,39,143,0.99) 0%, rgba(43,30,102,1) 100%);
}
.textoTelefono{
  position: absolute;
  left: 90px;
  width: 50%;
  height: 350px;
  top: 80px;
  color: white;
}
.imgTelefono{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 45%;
  height: 350px;
}
.imgTelefono img{
  width: 350px;
  top: 75px;
  position: absolute;
}
.ride{
  margin-bottom: 30px;
}
.happy{
  margin-top: 30px;
}
.videos{
  position: relative;
  width: 100%;
  height: 450px;
  background-color: white;
}
.texto{
  position: absolute;
  width: 360px;
  height: 450px;
  left: 0px;
  padding: 20px;
}
.texto2{
  position: absolute;
  width: 350px;
  height: 450px;
  right: 0px;
  top: 0px;
  padding-top: 20px;
  padding-right: 15px;
}
.insertVideo{
  position: absolute;
  width: 950px;
  height: 450px;
  right: 0px;
}
footer{
  padding-top: 70px;
  position: relative;
  background-color: #303144;
  width: 100%;
  height: 600px;
  padding-left: 150px;
  padding-right: 150px;
}
.listLogin, .listPartner, .listLearn, .listLogos{
  position: relative;
  display: inline-block;
  width: 250px;
}

.listLogos img{
  width: 150px;
  margin: 18px;
}
.icons{
  position: relative;
  display: inline-block;
  width: 500px;
  height: 40px;
  border-bottom: 1px solid whitesmoke;
  text-align: center;
  padding-top: 110px;
  margin-left: 270px;
}
.icons span{
  font-size: 30px;
  color: white;
  margin: 20px;
}
.terminos{
  margin-top: 30px;
  color: whitesmoke;
  margin-left: 410px;
}
