@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?1rlciz');
  src:  url('fonts/icomoon.eot?1rlciz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?1rlciz') format('truetype'),
    url('fonts/icomoon.woff?1rlciz') format('woff'),
    url('fonts/icomoon.svg?1rlciz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x-altx-alt:before {
  content: "\e901";
}
.icon-instagram-with-circle:before {
  content: "\e903";
}
.icon-twitter-with-circle:before {
  content: "\e902";
}
.icon-facebook-with-circle:before {
  content: "\e900";
}

